/* src/components/PushPinComponent.css */
.push-pin-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1;
}

.push-pin-image {
  width: 2rem;
  height: 2rem;
  transform: scale(0.6);
  transition: transform 0.2s ease-in-out;
}


.push-pin-button.active .push-pin-image {
  transform: scale(1.5);
}


.push-pin-button::after {
  content: '';
  position: absolute;
  bottom: -0.5rem; /* Position the line slightly below the pin */
  left: 50%;
  transform: translateX(-50%);
  width: 0; /* Start with zero width */
  height: 0.2em; /* Thickness of the line */
  background-color: #e20808; /* Color of the line */
  transition: width 0.8s; /* Animation for the width */
}

.push-pin-button.active::after {
  width: 1.5rem; /* Full width of the pin */
}